<!doctype html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pathfinder Random Character Generator</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="row">
      <div class="columns">
        <h1>Pathfinder Random Character Generator</h1>
      </div>
    </div>

    <div class="row">
      <div class="columns">
        <div class="panel">
          <h3>Try a new random character with this generator!</h3>
          <p>Insert explanation texts here.</p>
        </div>
      </div>
    </div>

    <form ng-app="character" ng-controller="CharacterController as character">
      <div class="row">
        <div class="columns">
          <a href="#" class="small button" id="btn_generate" ng-click="character.generate()" >Generate</a>
        </div>
      </div>

      <div id="char-info" class="row">
        <fieldset>
          <legend>Character Info</legend>
          <div class="medium-6 columns">
            <label> Race
              <input type="text" id="data-race" ng-model="character.race.name"/>
            </label>
          </div>
          <div class="medium-6 columns">
            <label> Class
              <input type="text" id="data-class" ng-model="character.class"/>
            </label>
          </div>
        </fieldset>
      </div>

      <div id="attributes" class="row">
        <fieldset>
          <legend>Attributes</legend>
          <div class="small-6 columns">
            <label> Hit Point
              <input type="number" id="data-hp" ng-model="character.hp"/>
            </label>
          </div>
          <div class="small-6 columns">
            <label> Armor Class
              <input type="number" id="data-armorclass" ng-model="character.ac"/>
            </label>
          </div>

          <div class="row">
            <div class="small-4 columns">
              <label class="inline">Ability Name</label>
            </div>
            <div class="small-2 column">
              <label class="inline">Ability Score</label>
            </div>
            <div class="small-2 column">
              <label class="inline">Ability Modifier</label>
            </div>
            <div class="small-2 column">
              <label class="inline">Temp Adjustment</label>
            </div>
            <div class="small-2 column">
              <label class="inline">Temp Modifier</label>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <label class="inline">Strength</label>
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.str" />
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.attributeMods.str"/>
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <label class="inline">Dexterity</label>
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.dex" />
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.attributeMods.dex"/>
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <label class="inline">Constitution</label>
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.con" />
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.attributeMods.con"/>
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <label class="inline">Intelligence</label>
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.int" />
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.attributeMods.int"/>
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <label class="inline">Wisdom</label>
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.wis" />
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.attributeMods.wis"/>
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <label class="inline">Charisma</label>
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.cha" />
            </div>
            <div class="small-2 column">
              <input type="number" ng-model="character.attributeMods.cha"/>
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
            <div class="small-2 column">
              <input type="number" />
            </div>
          </div>

        </fieldset>
      </div>

    </form>



    <footer class="row">
      <div class="large-12 medium-12 columns">
      <p>Team: <a href="https://github.com/lcb931023">lcb931023</a>, <a href="https://github.com/valeatory">valeatory</a>, and <a href="https://github.com/amm4108">amm4108</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
        </div>
      </footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/character.js"></script>
  </body>
</html>
